# 1. Calculate total earnings (sum of transactions above 0) for each user from Switzerland by year as a pivot table.

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat, lit, year, sum

path_to = "input_csv_files/"

# Initialize Spark session
spark = SparkSession.builder \
    .appName("Spark CSV Analysis") \
    .getOrCreate()

# Consolidate read options for simplicity
def read_spark_csv(path):
    return spark.read \
        .option("header", "true") \
        .option("inferSchema", "true") \
        .option("delimiter", ";") \
        .csv(path)

# Read CSV files
transactionsDF = read_spark_csv(path_to + "transactions.csv")
countryAbbrDF = read_spark_csv(path_to + "country_abbreviation.csv")
accountsDF = read_spark_csv(path_to + "accounts.csv")

# Join transactionsDF and accountsDF with only required columns and perform filter operation
filteredDF = transactionsDF.filter(col("amount") > 0) \
    .select("id", "amount", "transaction_date", "country") \
    .join(accountsDF.select("id", "first_name", "last_name"), "id")

# Join with country abbreviation dataframe and filter for Swiss users
swissEarningsDF = filteredDF \
    .join(countryAbbrDF, filteredDF["country"] == countryAbbrDF["abbreviation"]) \
    .filter(col("country_full_name") == "Switzerland")

# Calculate yearly earnings and pivot on 'year'
pivotDF = swissEarningsDF.groupBy(
    concat(col("first_name"), lit(" "), col("last_name")).alias("full_name"),
    year(col("transaction_date")).alias("year")) \
    .agg(sum("amount").alias("earnings")) \
    .groupBy("full_name").pivot("year").agg(sum("earnings"))

pivotDF.show()

+------------------+-------+------------------+-------+--------+-------+-------+------------------+--------+-----------------+-------+-------+
|         full_name|   2011|              2012|   2013|    2014|   2015|   2016|              2017|    2018|             2019|   2020|   2021|
+------------------+-------+------------------+-------+--------+-------+-------+------------------+--------+-----------------+-------+-------+
|    Natalie Nelson|   null|              null|   null|    null|1664.57| 7067.5|           7446.06|14378.04|             null|   null|   null|
|     Lenny Spencer|2050.35|              null|   null|    null|   null| 509.08|16116.580000000002|    null|          8693.52| 923.65|8797.15|
|      Lucia Watson|   null|           2173.26|   null|10047.25|   null|   null|              null|    null|          4500.61|   null|   null|
|    Adelaide Dixon|   null|              null|   null|    null|   null|   null|           2176.15|    null|             null|   null|   null|
|      Marcus Baker|   null|              null|6955.29| 2341.43|4353.16|   null|              null|    null|             null|3337.62|   null|
|      Jessica West|   null|           8673.72|   null|    null|   null|   null|              null|    null|             null|4797.03|1294.49|
|    Adison Douglas|   null|              null|   null| 1775.76|   null|   null|              null|    null|             null|   null|2002.15|
|     Aston Andrews|   null|              null|   null|    null|   null|   null|           4598.25|    null|             null|   null|   null|
|   Kirsten Stevens| 8932.7|              null|5753.21|    null|   null|3134.12|              null|    null|             null|   null|   null|
|       Luke Carter|   null|1585.4099999999999|  93.69|    null|   null|   null|           7029.37| 8340.16|             null|   null|   null|
|     Darcy Edwards|   null|              null|   null|    null|   null|   null|           7892.65| 8538.91|          2252.85|   null|   null|
|Jessica Richardson|   null|              null|   null|    null|   null|9661.02|            3273.5|    null|             null|   null|   null|
|      Natalie Hill|   null|           4019.35|   null| 3966.58|   null| 9315.2|              null|    null|             null|2789.47|   null|
|       Agata Myers|   null|              null|   null|    null|   null|   null|              null|    null|             null|7926.86|   null|
|      Arnold Kelly|   null|              null|   null|    null|7327.47|4848.64|              null|    null|             null|   null|   null|
|     Sienna Watson|   null|              null|5427.76| 5458.24|   null|9114.71|           4854.05|    null|5794.610000000001|   null|   null|
|     Fenton Thomas|   null|           1182.12|   null|    null|   null|   null|              null|    null|             null|   null|   null|
|       Julia Ellis|   null|              null|   null| 6054.68|5205.99|8650.32|              null|    null|             null|   null|   null|
|    Daisy Campbell|   null|           6356.06|4818.39|    null|   null|   null|            156.42|    null|             null|   null|   null|
|      Paige Taylor|9149.33|              null|   null|    null|8396.53|   null|              null| 8368.08|             null|4075.26|7902.95|
+------------------+-------+------------------+-------+--------+-------+-------+------------------+--------+-----------------+-------+-------+
only showing top 20 rows